<form id="product-form-realtime">
  <label for="title">Title:</label>
  <input type="text" name="title" id="title">

  <label for="description">Description:</label>
  <input type="text" name="description" id="description">
  
  <label for="price">Price:</label>
  <input type="number" name="price" id="price">
  
  <label for="status">Status:</label>
  <input type="hiden" name="status" id="status" value=true>

  <label for="category">Category:</label>
  <input type="text" name="category" id="category" >

  <label for="thumbnail">Thumbnail:</label>
  <input type="text" name="thumbnail" id="thumbnail">

  <label for="code">Code:</label>
  <input type="text" name="code" id="code">

  <label for="stock">Stock:</label>
  <input type="number" name="stock" id="stock">
  
  <button type="submit">Enviar</button>
</form>

<ul class="products_list" id="products_list">
  {{#each products}}
    <li id="{{this.id}}">
      <div>
        <p>{{this.title}}</p>
        <button onclick="deleteProductSocket({{this.id}})">Delete</button>
      </div>
    </li>
  {{/each}}
</ul>






<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
</script>
